---
import Card from '../components/Card.astro';
import Cursor from '../components/Cursor.astro';
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tomás Hurrell Portfolio">
	<section>
		<h1>Welcome to My Portfolio</h1>
		<p>This is a collection of my work and projects. Feel free to browse around and learn more about what I do.</p>
		<div class="cards">
			<Card title="Project 1" description="Description of project 1" />
			<Card title="Project 2" description="Description of project 2" />
			<Card title="Project 3" description="Description of project 3" />
			<Card title="Project 1" description="Description of project 1" />
			<Card title="Project 2" description="Description of project 2" />
			<Card title="Project 3" description="Description of project 3" />
			<Card title="Project 1" description="Description of project 1" />
			<Card title="Project 2" description="Description of project 2" />
			<Card title="Project 3" description="Description of project 3" />
			<Card title="Project 1" description="Description of project 1" />
			<Card title="Project 2" description="Description of project 2" />
			<Card title="Project 3" description="Description of project 3" />
			<Card title="Project 1" description="Description of project 1" />
			<Card title="Project 2" description="Description of project 2" />
			<Card title="Project 3" description="Description of project 3" />
			
		</div>
	</section>
</Layout>