---
import ExperienceCard from '@/components/ExperienceCard.astro';
import Footer from '@/components/Footer.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
const jobs = await getCollection('jobs');
---
<Layout title="Tomás Hurrell Portfolio">
	<section class="my-64 px-4 md:px-16 lg:px-32 xl:px-64">
		<article class="prose lg:prose-xl dark:prose-invert">
			<h1>Hi! I'm Tomás Hurrell</h1>
			<p>I’m a passionate Development Team Lead and Front-End Technical Lead, specializing in crafting beautiful, maintainable, and high-quality software with a strong focus on product, design, and user experience. While I specialize in front-end development, I am a T-shaped professional with comprehensive full-stack experience, enabling me to lead cross-functional teams effectively and contribute to diverse technical challenges. I thrive on fostering collaboration, driving team growth, and delivering impactful solutions aligned with business and user needs.</p>
			<p>I have also been involved in teaching and mentoring students in various subjects related to software development, front-end technologies, and best practices in programming. I have provided personalized guidance to foster both technical skills and critical thinking in aspiring developers.</p>
			<p>Musician and photography aficionado.</p>
			<p>Seeking constant improvement.</p>
		</article>
	</section>
	<section class="mt-64 mb-6 px-4 md:px-16 lg:px-32 xl:px-64">
		<article class="prose lg:prose-xl dark:prose-invert py-4">
			<h3 class="mb-8">Featured work</h3>
		</article>
		<div class="grid gap-4">
			<ProjectCard project={projects.at(0)} imageClassName="h-96" />
			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
				{projects.slice(1).map((project) => {
					return (
						<ProjectCard project={project} />
					);
				})}
			</div>
		</div>
	</section>
	<section class="mt-32 mb-6 px-4 md:px-16 lg:px-32 xl:px-64">
		<article class="prose lg:prose-md dark:prose-invert">
			<h3 class="mb-8">Experience</h3>
			<div class="gap-4">
				{jobs.map((experience) => {
					return (
						<ExperienceCard experience={experience} />
					);
				})}
			</div>
		</article>
	</section>
</Layout>