---
import { Github } from "lucide-react";
import { Button } from "./ui/button";
---

<footer class="px-4 md:px-16 lg:px-32 xl:px-64 py-4 flex place-content-between place-items-center">
  <p class="text-center md:text-left">Designed and built by me ©</p>
  <a 
    href="https://github.com/HurrellT/hurrellt-portfolio-next" 
    target="_blank"
    rel="noopener noreferrer">
    <Button variant="outline" title='Source Code'>
      <span class="pr-2">Source Code</span>
      <Github className='h-[1.2rem] w-[1.2rem]' />
    </Button>
  </a>
</footer>