---
import { Github, Linkedin } from 'lucide-react'
import { ThemeToggle } from './react/ThemeToggle.tsx'
import { Button } from './ui/button'
---

<nav class="backdrop-saturate-100 backdrop-blur-md flex items-center justify-between w-full max-w-full mx-auto px-4 md:px-16 lg:px-32 xl:px-64 bg-background-color text-base h-14 box-border fixed top-0 left-0 z-50">
  <a href="/"><Button variant="outline">Tomás Hurrell</Button></a>
  <div class="flex items-center">
    <a
      target="_blank"
      href="https://www.linkedin.com/in/tomas-hurrell/"
      rel="noopener noreferrer"
    >
      <Button
        aria-label="LinkedIn"
        variant="outline"
        className='flex items-center justify-center w-10 h-10 p-2 mr-2'
      >
        <Linkedin className='h-[1.2rem] w-[1.2rem]' />
      </Button>
    </a>
    <a
      target="_blank"
      href="https://github.com/hurrellt"
      rel="noopener noreferrer"
    >
      <Button
        aria-label="Github"
        variant="outline"
        className='flex items-center justify-center w-10 h-10 p-2 mr-2'
      >
        <Github className='h-[1.2rem] w-[1.2rem]'/>
      </Button>
    </a>
    <ThemeToggle client:load />
  </div>
</nav>